@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
    font-family: myFont;
    /* src: url("../../fonts/RafflesBryantRegular.ttf"); */
    /* src: url("../../fonts/Painting_With_Chocolate.ttf"); */
    src: url("../../fonts/Baguette.ttf");
    /* src: url("../../fonts/Wildest\ Grass\ Demo.otf"); */
}


body {
    color: white;
}

.home-container {
    position: fixed;
    /* top: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 80px; */
    height: 100vh;
    width: 100%;

    background-image: url("../../images/hero-slider-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.home-container .menu-search-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.home-container .menu-search-container .menu-searchbar {
    position: relative;
    width: -webkit-fill-available;
    max-width: 768px;
    padding: 10px;
    margin: 10px 50px;
    bottom: 0;
    color: white;
    /* top: 300px; */
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.495);
    border: none !important;
    border-radius: 20px;
    outline: 1px solid white;
    transition: all ease .5s;
}

/* When the search menu is focused, move the menu-search-container up */
.home-container .menu-search-container .menu-searchbar:focus {
    outline: 1px solid coral;
}

/* .home-container .menu-search-container:focus-within {
    transform: translateY(-30vh);
} */

/* item menu */

.home-container .menu-item-list {
    position: relative;
    width: 100%;
    height: fit-content;
    max-height: 450px;
    max-width: 768px;
    padding: 10px;
    /* border: 1px solid #ddd; */
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: left;

    /* overflow: auto; */
}

.home-container .menu-item {
    position: relative;
    /* margin-top: 20px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.home-container .menu-item .name-avail-desc {
    position: relative;
    display: flex;
    flex-direction: column;
}

.home-container .menu-item .name-avail {
    position: relative;
    display: flex;
}

.home-container .menu-item .name-avail h2 {
    margin: 0;
    font-size: 24px;
    font-family: myFont;
    color: coral;
}

.home-container .menu-item .name-avail p {
    margin: 0 10px;
    font-size: 0.7rem;
}

.home-container .menu-item .name-avail .item-notAvailable {
    color: hsl(0, 100%, 36%);
}

.home-container .menu-item .name-avail .item-available {
    color: hsl(114, 100%, 36%);
}

.home-container .menu-item .name-avail-desc .item-desc {
    font-size: 1rem;
    margin: 5px 0;
}

.home-container .menu-item .price-atc {
    display: flex;
    align-items: center;
    padding: 10px;
}

.home-container .menu-item .price-atc p {
    font-size: 1rem;
}

.home-container .menu-item .price-atc button {
    aspect-ratio: 1/1;
    background-color: transparent;
    font-size: 1.2rem;
    color: coral;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 25%;
}

.home-container .menu-item .price-atc button:hover {
    outline: 1px solid coral;
}