* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: coral;
    background-color: black;
    padding: 15px 30px;
}

nav ul {
    display: flex;
    font-size: 1.5rem;
}

nav ul li {
    position: relative;
    padding: 10px;
    list-style-type: none;
    text-decoration: none !important;
}

nav ul li a {
    text-decoration: none;
    color: coral;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(233, 151, 121);
}

nav ul li .cartCount {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3px;
    right: 3px;
    height: 18px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: coral;
    outline: 2px solid black;
}

nav ul li .cartCount p{
    position: relative;
    z-index: 2;
    font-size: 0.73rem;
    font-weight: 630;
    color: black;
}